* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #141414;
    color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto';
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.section__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

header {
    height: 64px;
    padding: 0 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15;
    background-color: none;
    transition: all 400ms ease-in-out;
}

.header-bg {
    background-color: #141414;
}

.header-transparent {
    background-color: none;
}

.header__container {
    align-items: center;
    height: 100%;
}

.logo {
    width: 30%;
}

.mobile-menu-toggle {
    display: none;
}

.header-nav-social-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.header-nav {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.header-nav a {
    color: white;
    text-decoration: none;
}

.header-nav a:hover {
    color: #EF3DFF
}


.header-nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.social-media {

    display: flex;
    justify-content: flex-end;
    gap: 6px;
}

.main-section {
    position: relative;
    margin-bottom: 130px;
}

.main-section__container {
    flex-direction: column;
}

.circular__blue {
    position: absolute;
    width: 668px;
    height: 668px;
    left: -593px;
    top: -174px;
    z-index: -1;
    background: #3D5BFF;
    filter: blur(102.5px);
}

.circular__pink {
    position: absolute;
    z-index: -1;
    position: absolute;
    width: 668px;
    height: 668px;
    right: -400px;
    top: -219px;
    background: #EF3DFF;
    filter: blur(102.5px);
}

.circular__pink__sobrenos {
    position: absolute;
    z-index: -1;
    position: absolute;
    width: 400px;
    height: 400px;
    top: -40px;
    left: 50px;
    background: #EF3DFF;
    filter: blur(102.5px);
}

.publication__blue {
    position: absolute;
    z-index: -1;
    position: absolute;
    width: 330px;
    height: 330px;
    left: 50%;
    transform: translateX(-50%);
    top: 285px;
    background: #3D5BFF;
    filter: blur(102.5px)
}

.main-section__title {
    margin-top: 200px;
}

.main-section__title h1 {
    font-size: 82px;
    max-width: 500px;
    line-height: 1;
}

.main-section__title h2 {
    font-size: 40px;
    max-width: 500px;
    color: #3D5BFF;
}

.main-section__buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 43px;
}

.main-section__buttons button {
    height: 35px;
    width: 186px;
    border-radius: 4px;
    border: 1px solid #3D5BFF;
}

.main-section__buttons .button_primary {
    background-color: #3D5BFF;
    color: white;
    cursor: pointer;
}

.main-section__buttons .button_primary:hover {
    background-color: #EF3DFF;
    border: 1px solid white;
}

.main-section__buttons .button_second:hover {
    color: white;
    background-color: #EF3DFF;
    border: 1px solid white;
}

.main-section__buttons .button_second {
    background-color: #181818;
    color: #3D5BFF;
    cursor: pointer;
}

.marketing-section {
    position: relative;
}

.marketing__section__container {
    display: flex;
    width: 60%;
}

.marketing__section__title {
    width: auto;
}

.marketing-digital {
    border-radius: 1em;
    background: #181818;
    padding: 2em;
    width: 17em;
    height: 15em;
    transition: all 400ms ease-in-out;
}

.marketing-digital:hover {
    transform: scale(1.1);
    border: 1.5px solid #EF3DFF;
}

.marketing-digital h2 {
    background-image: linear-gradient(to bottom, #FFB868, #F99B2F);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.marketing-digital p {
    text-align: justify;
    font-size: small;
}


.main-space {
    background-image: url("./img/starfield-deep-space-many-light-years-far-from-earth_2.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-space-effect {
    background-position: right top;
    background-repeat: no-repeat;
    background-image: url('./img/bg\ 1.png');
    height: 100%;
}

.marketing__section__container__left {
    display: flex;
    flex-direction: column;
    gap: 1.8em;
    padding-bottom: 2em;
}

.merketing__section__container__right {
    display: flex;
    flex-direction: column;
    gap: 1.8em;
    padding-top: 2em;
    padding-left: 2em;
}

.solution {
    background-color: #3D5BFF;
    width: 121px;
    height: 8px;
    margin-top: 11em;
}

.solution__title {
    font-size: 64px;
}

.solution__subtitle {
    font-size: 64px;
    color: #EF3DFF;
}

.marketing__section__title {
    margin-left: 7.3em;
}

.sobrenos__section {
    display: flex;
    flex-direction: row;
    margin-top: 8em;
    position: relative;
}

.sobrenos__logo {
    width: 50%;
}

.sobrenos__logo img {
    background-color: #181818;
    padding: 85px 70px 104px 70px;
    border-radius: 0.8em;
}

.sobrenos__info {
    width: 50%;
}

.sobrenos__info span {
    color: #3D5BFF;
}

.sobrenos__info h1 {
    font-size: 64px;
}

.sobrenos__info p {
    text-align: justify;
}


.clientbar {
    background-color: #3D5BFF;
    width: 87px;
    height: 8px;
    margin-top: 6em;
}

.client__section .section__container {
    flex-direction: column;
    gap: 20px;
}

.client__info {
    display: flex;
}

.arrows {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.arrows button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.arrows button:hover {
    cursor: pointer;
    filter: hue-rotate(330deg);
}

.client__text {
    width: 20%;
}

.client__text h2 {
    font-size: 60px;
}

.client__text h3 {
    font-size: 30px;
    color: #3D5BFF;
}

.client__logo {
    display: flex;
    gap: 1em;
    margin-left: 7em;
    width: 84%;
    height: 235px;
    margin-top: 6em;
    overflow: visible;
}

.client__logo__content {
    overflow: auto;
    padding: 12px;
    display: flex;
    gap: 17px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.client__logo__content img {
    transition: all ease 300ms;
    margin-bottom: 15px;
}

.client__logo__content img:hover {
    transform: scale(1.1);
    margin: 0 15px;
}


.client__logo__content::-webkit-scrollbar {
    display: none;
}


.publication__section {
    width: 100%;
    text-align: center;
    margin-top: 5em;
    position: relative;
}

.publication__tex__principal {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
}

.publication__text {
    width: 50%;
}

.publication__text h2 {
    font-size: 50px;
    text-align: center;
}

.publication__subtext {
    width: 43%;
}

.publication__subtext h3 {
    font-size: 20px;
    color: #3D5BFF;
}

.publication {
    flex-direction: column;
    position: relative;
}



.publication__logo__client {
    width: 100%;
}

#slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: all ease-out 0.3s;
    margin-top: 50px;
    margin-bottom: 50px;
}

#slide img {
    margin-top: 100px;
    width: 19%;
    transition: all 0.5s ease-in-out;
}

#slide .active {
    z-index: 2;
    transform: scale(1.2);
}

#slide .active2 {
    z-index: 2;
    transform: scale(1.5);
}

#slide .active:hover {
    transform: scale(1.3);
}

#slide .item:hover {
    transform: scale(1.3);
    z-index: 5;
}

#slide .p-item:hover {
    transform: scale(1.3);
    z-index: 5;
}

#slide .item {
    z-index: 1;
    transform: scale(1.1);
}


.publication__logo {
    height: 900px;
    margin-top: 50px;
}

.img__ponta__esquerda {
    position: absolute;
    width: 239px;
    height: 315px;
    margin-top: 160px;
    left: 37px;
    background: url('./img/Publication-img01.png');
}

.img__secundaria__esquerda {
    position: absolute;
    width: 290px;
    height: 383px;
    left: 231px;
    margin-top: 125px;
    z-index: 1;
    background: url('./img/Publication-img02.png');
}

.img__principal {
    position: absolute;
    width: 339px;
    height: 700px;
    left: 450px;
    z-index: 2;
    background: url('./img/Publication-img03.png');
}

.img__secundaria__direita {
    position: absolute;
    width: 294px;
    height: 383px;
    left: 715px;
    margin-top: 125px;
    z-index: 1;
    background: url('./img/Publication-img04.png');
}

.img__ponta__direita {
    position: absolute;
    width: 239px;
    height: 315px;
    left: 949px;
    margin-top: 160px;
    background: url('./img/Publication-img05.png');
}

.service__section {
    margin-top: 105px;
}

.service__main {
    display: flex;
    flex-direction: row;
}

.service__text {
    width: 35%;
    margin-right: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__service h2 {
    width: 100%;
    font-size: 40px;
    margin-top: 40px;
}

.description__service p {
    font-size: 15px;
    text-align: justify;
    margin-top: 15px;
}

.service__btn {
    margin-top: 15px;
    float: left;
}

.service_button {
    width: 100%;
}

.service__btn button {
    width: 186px;
    height: 36px;
    background: #3D5BFF;
    color: white;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
}

.service__btn button:hover {
    color: white;
    border: 1px solid white;
    background-color: #EF3DFF;
}

.service__logo__main {
    display: flex;
    width: 65%;
    flex-direction: row;
    gap: 1em;
}


.service__logo__principal {
    width: 40%;
    height: 466px;
    background: linear-gradient(359.09deg, #000E5C 0.74%, rgba(0, 14, 92, 0.536422) 55.82%, rgba(0, 14, 92, 0) 99.22%), url('./img/Profissao01.png');
    border-radius: 14px;
    background-size: cover;
    transition: width 0.5s;
}

.service__logo__principal:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.service__logo__secundaria {
    width: 20%;
    height: 466px;
    background: linear-gradient(359.09deg, #000E5C 0.74%, rgba(0, 14, 92, 0.536422) 55.82%, rgba(0, 14, 92, 0) 99.22%), url('./img/Profissao02.png');
    border-radius: 14px;
    background-size: cover;
    background-position: 44%;
    transition: width 0.5s;
}

.service__logo__secundaria:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.service__logo__secundaria2 {
    width: 20%;
    height: 466px;
    background: linear-gradient(0deg, #000E5C -5.26%, rgba(61, 91, 255, 0) 100%), url('./img/Profissao03.png');
    border-radius: 14px;
    background-size: cover;
    background-position: 44%;
    transition: width 0.5s;
}

.service__logo__secundaria2:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.service__logo__secundaria3 {
    width: 20%;
    height: 466px;
    background: linear-gradient(360deg, #000E5C 0%, rgba(61, 91, 255, 0) 100%), url('./img/Profissao04.png');
    border-radius: 14px;
    background-size: cover;
    background-position: 10%;
    transition: width 0.5s;
}

.service__logo__secundaria3:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.rotated {
    transform: rotate(270deg);
    font-size: 40px;
    margin-top: 190px;
    margin-left: -155px;
    width: 400px;
    transition: ease-in-out 800ms;
}

.service__profission {
    font-size: 40px;
    margin-left: 25px;
    margin-top: 375px;
    transition: ease-in-out 800ms;
}

.section__newsletter {
    background-color: #EF3DFF;
    width: 100%;
    margin-top: 150px;
    padding-bottom: 50px;
}

.section__newsletter__main {
    width: 40%;
}

.section__newsletter__secondary {
    width: 60%;
}

.section__newsletter__main h2 {
    font-size: 40px;
    width: 372px;
    margin-top: 35px;
}

.section__newsletter__main h3 {
    font-size: 25px;
    font-weight: 100;
}

.section__newsletter__secondary {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section__newsletter__secondary .newsletter__email input {
    width: 90%;
    background-color: transparent;
    border: none;
    border: 0;
    border-bottom: 1px solid white;
    outline: 0;
    color: white;
    font-size: 18px;
}

.newsletter__email {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.newsletter__email label {
    float: left;
    margin-bottom: 15px;
    font-weight: 400;
}

.newsletter__button button {
    float: right;
    margin-top: 20px;
    margin-right: 75px;
    padding: 10px 20px;
    border-radius: 4px;
    border-style: none;
    color: #EF3DFF;
    cursor: pointer;
    font-weight: 600;
}

.newsletter__button button:hover {
    color: white;
    background: #EF3DFF;
    border: 1px solid white;
}

.section__contato {
    width: 100%;
    background: url('./img/starfield-deep-space-many-light-years-far-from-earth_2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 40px;
}


.section__contato__text {
    width: 70%;
    display: grid;
    align-items: center;
    margin-top: 160px;
}

.section__contato__text h2 {
    font-size: 50px;
    font-weight: 700;
}

.section__contato__text h3 {
    font-size: 30px;
    font-weight: 700;
    color: #3D5BFF;
    margin-top: 15px;
}


.contato__email {
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 105px;
}

.contato__email .contato_email_input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato_email_input input {
    width: 100%;
    margin: 14px 0 14px;
    outline: 0;
    background-color: transparent;
    border: none;
    border: 0;
    border-bottom: 1px solid white;
    color: white;
    font-weight: 200;
    font-size: 15px;
}



.contato__mensagem {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato__mensagem label {
    margin-top: 40px;

}

.contato__mensagem input {
    width: 100%;
    margin-top: 61px;
    background-color: transparent;
    border: none;
    border: 0;
    border-bottom: 1px solid white;
    color: white;
    outline: 0;
}


.contato__mensagem button {
    margin-top: 36px;
    width: 30%;
    font-weight: 400;
    font-size: 16px;
    height: 36px;
    border-radius: 4px;
    border: none;
    background-color: #3D5BFF;
    color: white;
}

.contato__mensagem button:hover {
    background-color: #EF3DFF;
    color: white;
    border: 1px solid white;
}

.section__contato__logo {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 215px;
    margin-left: 115px;
}

.section__line__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.section__line {
    width: 50%;
    height: 1px;
    background-color: white;
    margin-top: 115px;
    margin-bottom: 10px;
}

.section__footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}

.section__flooter__logo {
    width: 25%;
}

.social__media__footer {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.img__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 0 5px;
    margin-top: 5px;
}

.home__footer {
    width: 25%;
    list-style: none;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.home__footer li {
    list-style: none;
    margin-bottom: 5px;
}

.home__footer a {
    text-decoration: none;
    color: white;
}

.home__footer a:hover {
    text-decoration: none;
    color: #EF3DFF;
    cursor: pointer;
}

.contato__footer {
    width: 25%;
}

.contato__footer span {
    margin-top: 5px;
}

.endereco__footer {
    margin-top: 12px;
}

.lado-a {
    width: 63px;
    height: 329px;
    left: -10px;
    background: url('./img/Lado.png');
    z-index: 1;
    position: absolute;
}

.lado-b {
    width: 63px;
    height: 329px;
    right: -8px;
    top: 500px;
    background: url('./img/Lado-b.png');
    z-index: 1;
    position: absolute;
}

@media screen and (max-width: 1100px) {
    header {
        padding: 0;

    }

    .header__container {
        gap: 25px;
        margin: 0;
        width: 100%;
    }

    .logo {
        width: 100%;
        display: flex;
        /* justify-content: center; */
        padding: 20px;
        justify-content: space-between;
    }

    .mobile-menu-toggle {
        width: 28px;
        background-color: transparent;
        border: none;
        display: block;
    }

    .mobile-menu-toggle svg {
        fill: white;
    }


    .header-nav-social-container {
        display: none;
        width: 100%;
        position: absolute;
        top: calc(100% - 6px);
        transition: all 400ms ease-in-out;

    }

    .header-nav-social-container.visible {
        display: block;
    }

    .header-nav {
        width: 100%;
        padding: 20px;
        justify-content: center;
    }

    .header-nav ul {
        display: flex;
        gap: 12px;
    }

    .header-nav li {
        margin: 0;
    }

    .social-media {
        width: 100%;
        justify-content: center;
        padding: 12px;
    }

    .section__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-section__title h1 {
        font-size: 60px;
    }

    .circular__pink {
        display: none;
    }

    .main-section__buttons {
        flex-direction: column;
        width: 100%;
    }

    .main-section__buttons button {
        width: 100%;
    }

    .main-section__buttons button {
        width: 100%;
    }

    .marketing__section__container {
        flex-direction: column;
        width: 100%;
    }

    .merketing__section__container__right {
        padding-top: 0;
        padding-left: 0;
    }

    .marketing-digital {
        width: 80%;
        height: 80%;
    }

    .marketing__section__title {
        margin-left: 0;
    }

    .marketing__section__container__left {
        align-items: center;
        justify-content: center;
    }

    .merketing__section__container__right {
        align-items: center;
        justify-content: center;
    }

    .sobrenos__section {
        margin-top: 50px;
    }

    .solution__title {
        font-size: 40px;
    }

    .solution__subtitle {
        font-size: 30px;
    }

    .solution__subtitle {
        font-size: 40px;
        color: #EF3DFF;
    }

    .lado-a {
        display: none;
    }

    .lado-b {
        display: none;
    }

    .sobrenos__logo {
        width: 100%;
    }

    .sobrenos__logo img {
        width: 100%;
    }

    .circular__pink__sobrenos {
        width: 230px;
        height: 230px;
        top: 41px;
        left: 74px;
    }

    .sobrenos__info {
        width: 100%;
        margin-top: 50px;
    }

    .sobrenos__info h1 {
        font-size: 40px;
        margin-bottom: 25px;
    }

    .client__info {
        overflow: hidden;
        width: 100%;
        flex-direction: column;
    }

    .client__text h2 {
        font-size: 40px;
    }

    .client__text {
        width: 100%;
    }

    .client__logo {
        width: 100%;
        margin-left: 0;
    }

    .publication__section {
        margin-top: 25px;
    }


    .publication__logo__client img {
        width: 100%;
    }

    .publication__text {
        width: 100%;
    }

    .publication__text h2 {
        font-size: 40px;
    }

    .publication__subtext {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .publication__blue {
        display: none;
    }

    .service__section {
        margin-top: 0;
    }

    .service__main {
        width: 100%;
        flex-direction: column;
    }

    .title__service {
        width: 100%;
    }

    .service__text {
        width: 100%;
        margin-bottom: 20px;
    }

    .service__logo__main {
        width: 100%;
    }

    .service__profission {
        font-size: 20px;
    }

    .service_button {
        margin-bottom: 10px;
    }

    .service__btn {
        width: 100%;
    }

    .service__btn button {
        width: 100%;
    }

    .rotated {
        font-size: 20px;
    }

    .section__newsletter__main h2 {
        width: 100%;
        font-size: 40px;
    }

    .section__newsletter {
        width: 100%;
        margin-top: 40px;
    }

    .section__newsletter__main {
        width: 100%;
    }

    .section__newsletter__secondary {
        width: 100%;
    }

    .section__newsletter__main h2 {
        font-size: 30px;
    }

    .section__newsletter__main h3 {
        font-size: 20px;
        font-weight: 100;
    }

    .section__newsletter__secondary .newsletter__email input {
        width: 100%;
    }

    .newsletter__button button {
        width: 100%;
        margin-right: 0;
    }

    .section__contato__text h2 {
        font-size: 40px;
    }

    .contato__email {
        flex-direction: column;
        margin-top: 80px;
    }

    .section__contato__logo {
        display: none;
    }

    .section__contato__text {
        width: 100%;
        margin-top: 30px;
    }

    .contato__mensagem button {
        width: 100%;
    }

    .section__line {
        margin-top: 50px;
    }

    .section__flooter__logo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .section__flooter__logo img {
        width: 25%;
    }

    .social__media__footer {
        width: 100%;
    }

    .home__footer {
        width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .contato__footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .endereco__footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

}

/* border: 1px solid rgb(235, 235, 235); */
/* transition-property: transform; */
/* transition-duration: 250ms; */
/* transition-timing-function: ease; */
/* padding: 1rem;